@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.component-section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    height: 502px;
    width: 342px;
    padding: 18px;
<<<<<<< HEAD
    box-shadow: 0px 7px 17px #2b222247;
=======
    box-shadow: 7px 5px 20px #2b222247;;
>>>>>>> c29693ec56635e5e3e6d0ffdbe232ac15860ab90
}

.component-section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.title h2 {
    color: hsl(218, 44%, 22%);
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

.description p {
    color: hsl(220, 15%, 55%);
    font-size: 16px;
    padding: 12px;
    text-align: center;
}